 section
  {
	position: relative;
	width: 100%;
	height: 55vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background: #b0e040;
	background-blend-mode: screen;
  }
  
  nav {
	background-color: transparent;
	background: #140107;
	position: fixed;
  }
  .navbar-brand img {
	width: 50px;
	margin-left: 5px;
	margin-top: 3px;
	size: 30px;
  }
  
  .navbar-toggler {
	border: none !important;
	outline: none !important;
	color: white;
  }
  
  .fa-bars {
	color: white;
  }
  
  .container img
  {
	  height: 25vh;
	  width: 50%;
  }
  
  .footer 
  {
	background: #b0e040;
  }

  .footer img
  {
	  width: 100px;
	  size: 30px;
	  height: 15vh;
  }
  
  
  